body {
    margin: 0;
    padding: 0;
    font-family: 'Odibee Sans';
    /*font-family. : 'Oswald';*/
}

.home-title-text {
    position : fixed;
    width : 400px;
    height : 200px;
    color : white;
    text-align : center;
    line-height : 200px; 
    font-size : 70px;
    left : 50%;
    margin-left : -200px;
    top : 50%;
    margin-top : -100px;
    font-family : 'Oswald';
    cursor : pointer;
}

.lobby-item-container {
    position : fixed;
    width : 850px;
    height : 180px;
    left : 50%;
    margin-left : -425px;
    top : 50%;
    margin-top : -90px;
    border-top : solid 3px rgba(0, 0, 0, 1);
    border-bottom : solid 3px rgba(0, 0, 0, 1); 
}

.lobby-item {
    width : 150px;
    height : 70px;
    margin : 10px;
    border : solid 3px black;
    box-sizing : border-box;
    color : black;
    line-height : 64px;
    cursor : pointer;
    text-align : center;
    font-size : 22px;
    box-shadow: 2px 2px #000000;
}

.lobby-item:hover {
    /*background : black;
    color : white;*/
    background : rgba(0, 0, 0, 0.1);
}

.btn-list {
    position : fixed;
    width : 50px;
    height : 200px;
}

.btn {
    position : relative;
    border : solid 2px black;
    width : 36px;
    height : 36px;
    cursor : pointer;
    box-sizing : border-box;
    margin : 10px;
    box-shadow: 2px 2px #000000;
}

.btn-icon{
    position : absolute;
    width : 24px;
    height : 24px;
    background-size : cover;
    left : 50%;
    margin-left : -12px;
    top : 50%;
    margin-top : -12px;
}

.btn:hover {
    background : rgba(0, 0, 0, 0.1);
}

.maze-container {
    position : fixed;
    width : 1156px;
    height : 600px;
    top : 50%;
    margin-top : -300px;
    left : 50%;
    margin-left : -578px;
}

.board-maze {
    position : absolute;
    border : solid 2px black;
    width : 900px;
    height : 600px;
    left : 0px;
    top : 50%;
    margin-top : -302px;
}

.state-board-cube-blast{
    position : absolute;
    border : solid 3px black;
    width : 200px;
    height : 98px;
    top : -2px;
    right : 0; 
}

.grid {
    float : left;
    text-align : center;
}

.supply {
    width : 25px;
    height : 25px;
    position : absolute;
    text-align : center;
    line-height : 25px;
    color : #DDDDDD;
    font-weight : bold; 
    font-size : 24px;
}

.bomb-man-container {
    position : fixed;
    width : 1156px;
    height : 632px;
    top : 50%;
    margin-top : -316px;
    left : 50%;
    margin-left : -578px;
}

.board {
    border : solid 3px black;
    width : 1150px;
    height : 550px;
    margin-top : 10px;
    position : relative;
}

.state-board {
    width : 1156px;
    height : 66px;
    margin : 0 auto;
    position : relative;
}

.state-section {
    position : absolute;
    height : 54px;
    width : 500px;
}

.state-section-title {
    background-color : rgba(1, 1, 1, 0.1);
    border : solid 3px black;
    height : 60px;
    width : 150px;
    text-align : center;
    line-height: 60px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing : 1px;
}

.state-section-item {
    /*background: yellow;*/
    position : relative;
    border : solid 3px black;
    height : 60px;
    width : 175px;
}

.state-section-item-name {
    /*background: purple;*/
    position : absolute;
    height : 20px;
    width : 170px;
    border-bottom : solid 1px rgba(1, 1, 1, 0.6);
    letter-spacing : 1px; 
    line-height : 20px;
    font-size : 14px;
    font-weight: bold;
    opacity : 0.5;
}

.state-section-item-name-left{
    padding-left : 5px;
    text-align : left;
}

.state-section-item-name-right{
    padding-right : 5px;
    text-align : right;
}

.state-section-item-level {
    position : absolute;
    height : 20px;
    width : 110px;
}

.level-ball {
    float : left;
    background : red;
    height : 16px;
    width : 16px;
    margin : 2px 1px 2px 1px;
}

.bold-text {
    font-weight: bold;
    font-size: 20px;
    letter-spacing : 1px; 
}

.character {
    width : 50px;
    height : 50px;
    position : absolute;
    text-align : center;
    line-height : 50px;
    color : white;
}


/* 背景顏色 */
.green {
    background : green; 
}

.red {
    background : red; 
}

.black {
    background : black; 
}

/* 置中 */
.center {
    margin : 0 auto;
    top : 50%;
}

/* 浮動 */
.float-left {
    float : left;
}

.float-right {
    float : right;
}

/* 定位 */
.fix-center-background {
    position : fixed;
    width : 3000px;
    height : 2000px;
    left : 50%;
    margin-left : -1500px;
    top : 50%;
    margin-top : -1000px;
}

/* 動畫相關 */
.transition {

}
